@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Noto Serif', serif;
}

.nav-active::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 9999px; /* Matches rounded-[50px] */
  padding: 2px;
  background: linear-gradient(to left, white 0%, transparent 90%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}
